<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
			*{
			  font-family : "tahoma"
			}
			body{
			  margin : 10px 10px 10px 10px
			}
	</style>
</head>
<body style="width:100%">
<h1 style="text-align:center;">CERTIFICA</h1>
<p style="width:100%">Que el señor(a) <%= _data.name %> identificado con cedula de ciudadanía numero <%= _data.cc %> se encuentra a paz y salvo con DAIMONT S.A.S, por todos los prestamos adquiridos a la fecha.</p>
<br>
<br>
<br>
<br>
<br>
<br>

<p>Cordialmente,</p>
<p>DAIMONT S.A.S</p>
<br>
<br>
<br>
<br>
<p style="text-align:center;font-size:12px;">DAIMONT S.A.S</p>
</body>
</html>

<p style="text-align:center;font-size:12px;">NIT 901.091.741-7</p> 
