<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title></title>
	<style type="text/css">
			*{
			  font-family : "tahoma"
			}

	</style>
</head>
<body style="width:100%;">
<img src="https://image.ibb.co/gGW4xc/logo.png" alt="logo" border="0" style="width:40%;">
<p>Se expide el <%= _data.date %> .</p>
<br>
<br>
<h1 style="text-align:center;margin-top:30px;">CERTIFICA</h1>
<br>
<br>
<p style="width:100%;text-align:justify;">Que el señor(a) <%= _data.name %> identificado con cedula de ciudadanía numero <%= _data.cc %> se encuentra a paz y salvo con DAIMONT S.A.S, por todos los prestamos adquiridos a la fecha.</p>
<br>
<br>
<br>
<br>
<br>
<br>

<p>Cordialmente,</p>
<p>DAIMONT S.A.S</p>
<br>
<br>
<br>
<br>
<div class="footer" style="position:static;border: 0px;width: 100%;">
  <p style="text-align:center;font-size:12px;">DAIMONT S.A.S</p>
  <p style="text-align:center;font-size:12px;">NIT 901.091.741-7</p>   
</div>  
  </body>
</html>
