<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div style="position:relative;width:600px;height:400px;">
  <div class="text" style="position:absolute;top:20%;text-align:left;margin-left:30%;">
    <p>Hola, <strong>KATHERINE VALLEJO GONZALEZ</strong></br>
</br>
Queremos recordarte que tu fecha limite de pago es para el día JULIO 26 2018</br></br> Total a pagar hoy <strong>$6.703</strong>
</br>
</br>
Para nosotros es muy importante la puntualidad, esto ayudará a que más usuarios como tú puedan disfrutar de nuestros servicios.</br>  

Feliz tarde.
</p>
  </div>
<img src="https://d15k2d11r6t6rl.cloudfront.net/public/users/BeeFree/beefree-xfrq4opx03/plantilla-correo-daimont.png" alt="">  
</div>
</body>
</html>